body {
}
h1 > a{
}
.glyphicon-home {
    float: left;
    text-decoration: none;
    color: #c9302c;
    padding-left: 30px;
    font-size: 33px;
}
h1{
    text-align:center;
}
.duty
{
    margin-bottom:10px;
}
.glyphicon-ok {
    color: #c9302c;

}

.glyphicon-remove {
    color: #c9302c;


}

.InvisibleButton {
    color: transparent;
    background: transparent;
    border: none;
    float: right;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
}

.BigButton{
    width:100%;
    margin-bottom:10px;
}
.progress {
    margin: 0px 0px 0px 0px;
    height: 1px;
}

.progress-bar {
    width: 100%;
    height: 1px;
    background-color: #ebccd1;
    margin-bottom: 1px;
}