body {

}
.duties{
    margin-bottom:10px;

}

.glyphicon-ok {
    color: #c9302c; 
}
.glyphicon-remove {
    color: #c9302c;
}
.InvisibleButton{
    color:transparent;
    background:transparent;
    border:none;

}
.dropdown-menu > li >button
{
    border:none;
    width:100%;
}