body {

}
.duties{
    margin-bottom:10px;

}

.glyphicon-ok {
    color: #c9302c; 
}
.glyphicon-remove {
    color: #c9302c;
    margin-right:5px;
}
.InvisibleButton{
    color:transparent;
    background:transparent;
    border:none;
    float:right;
    margin-right:0px;
    padding:0px 0px 0px 0px;

}
.progress{
    margin: 0px 0px 0px 0px;
    height:1px;
}
.progress-bar {
    width: 100%;
    height: 1px;
    background-color: #ebccd1;
    margin-bottom: 1px;
}