@{
    ViewBag.Title = "ToDoList";
}

<div id="Monday" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Poniedziałek</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
</div>

<div id="Tuesday" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Wtorek</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
</div>

<div id="Wednesday" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Środa</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
</div>

<div id="Thursday" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Czwartek</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel danger</div>
</div>

<div id="Friday" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Piątek</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
</div>

<div id="Saturday" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Sobota</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
</div>

<div id="Sunday" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Niedziela</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
</div>
