@model MyToDoList.ViewModels.HomeViewModels.IndexViewModel
@{
    ViewBag.Title = "MyToDoList";
}
<head>
    <link href="~/Styles/Home-Index.css" rel="stylesheet" />
</head>
<div id="ValSum" asp-validation-summary="All">

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
              @await Component.InvokeAsync("Day");
        </div>
                <div class="col-sm-4">
                    @await Component.InvokeAsync("Category")
                </div> 
      
        </div>
    </div>
