@model MyToDoList.ViewModels.HomeViewModels.IndexViewModel
@{
    ViewBag.Title = "MyToDoList";
}
<head>
    <link href="~/Styles/Home-Index.css" rel="stylesheet" />
</head>
<div id="ValSum" asp-validation-summary="All">

</div>
<h1>@Model.CurrentWeek.MondayDate.Date</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div id="OverDueDuties" class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Zaległe</h3>
                    </div>
                <div class="panel-body">

                </div>
                </div>
                    @await Component.InvokeAsync("Day");
                </div>
                <div class="col-sm-4">
                    @await Component.InvokeAsync("Category")
                </div>

            </div>
        </div>
