@{
    ViewBag.Title = "MyToDoList";
}
<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-8">
            @await Component.InvokeAsync("Day")
        </div>
        <div class="col-sm-4">
            @await Component.InvokeAsync("Category")
        </div>
    </div>
</div>
