@model DayViewModel
<head>
    <link href="~/Styles/Home-Components-Day-Default.css" rel="stylesheet" />
</head>
@foreach (Day day in Enum.GetValues(typeof(Day)))
{
<div id="@day.ToString()" class="panel panel-danger">
    <div class="panel-heading">
       
            @switch ((int)day)
            {
                case 1:
                  <h3 class="panel-title">Poniedziałek</h3>
                    break;
                case 2:
                    <h3 class="panel-title">Wtorek</h3>
                    break;
                case 3:
                    <h3 class="panel-title">Środa</h3>
                    break;
                case 4:
                    <h3 class="panel-title">Czwartek</h3>
                    break;
                case 5:
                    <h3 class="panel-title">Piatek</h3>
                    break;
                case 6:
                    <h3 class="panel-title">Sobota</h3>
                    break;
                case 7:
                    <h3 class="panel-title">Niedziela</h3>
                    break;
                default: throw new Exception("Takie dzień nie istnieje");
            }
    </div>
    <div class="panel-body">
        @foreach (var duty in Model.Duties.Where(d => d.Day == day))
        {
            <div class="duty">
                <span >@duty.Content</span> 
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                
            </div>
        }
    </div>
    <div class="panel-footer">
        <div class="row">
            <form method="post" asp-action="Index" asp-controller="Home" asp-route-StringDay="@day.ToString()" asp-antiforgery="true">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Dodaj zadanie</button>
                        </span>
                        <input asp-for="@Model.Content" type="text" class="form-control">
                        
                    </div><!-- /input-group -->
                </div>
            </form>
         </div>
    </div>
</div>
}