@model CategoryViewModel
<head>
    <link href="~/Styles/Home-Components-Category-Default.css" rel="stylesheet" />
</head>
<h1>Kategorie</h1>
<ul class="list-group">
    @foreach (var category in Model.Categories)
    {
        <a class="LinkToCategory" asp-action="Index" asp-controller="Category" asp-route-id="@category.Id">
            <li class="list-group-item">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                @category.Name
                <span class="badge">@category.Duties.Count</span>
            </li>
        </a>
    }
    
</ul>
<form method="post" asp-action="AddCategory" asp-controller="Home" asp-antiforgery="true" class="form-horizontal">
    <div>
        <div class="input-group">

            <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">Dodaj kategorie</button>
            </span>
            <input id="InputForCategoryName" asp-for="@Model.NewCategoryName" type="text" class="form-control" placeholder="Nazwa kateogrii">
        </div>

    </div>
    <div asp-validation-summary="All">
    </div>
</form>

