@model Day
<div id="@Model.ToString()" class="panel panel-danger">
    <div class="panel-heading">
       
            @switch ((int)Model)
            {
                case 1:
                  <h3 class="panel-title">Poniedziałek</h3>
                    break;
            }

                    
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
</div>